@charset "utf-8";

body{
    background-color: rgb(208, 240, 208);
    background-image: url('img/image2.png');
}
h1{
    color: rgb(187, 199, 209);
    border: 7px solid;
    border-top-color: goldenrod;
    border-left-color: goldenrod;
    border-right-color: rgb(156, 144, 74);
    border-bottom-color: rgb(156, 144, 74);
    background-color: rgb(42, 71, 42);     
}
span{
    font-size: 20px;
}

.image-container .bg-img{
  position: absolute;
  top: 0px;               
  width: 100%;              
  max-width: 900px;
  opacity: 0.13;         
  z-index: -1;               
}
.image-container{
    position: relative;   
}

h4{
    color: rgb(187, 199, 209);
    border: 4px solid;
    border-top-color: goldenrod;
    border-left-color: goldenrod;
    border-right-color: rgb(156, 144, 74);
    border-bottom-color: rgb(156, 144, 74);
    background-color: rgb(42, 71, 42);    
}
.emblem{
    max-width: 400px;
    height: auto;
}

